---
import { Image } from "astro:assets";
import GithubIcon from "../svg/github-mark.svg";
import ArrowRight from "../svg/arrow-top-right.svg";

const { name, image, links, description, tags } = Astro.props;
---

<div class="product-shell flex flex-col gap-4">
  <!-- Image -->
  <div class="rounded-3xl">
    <img class="rounded-3xl product-image" alt="Couple eating" src={image} />
  </div>
  <!-- Name -->
  <div class="font-bold text-3xl">{name}</div>
  <!-- Links -->
  <div class="font-bold text-3xl flex flex-row items-center gap-3">
    <Image
      class:list={["h-6", "w-6", "hover:opacity-70"]}
      src={ArrowRight}
      alt="Go to demo"
    />
    <a href={links.github} target="_blank">
      <Image
        class:list={["h-6", "w-6", "hover:opacity-70"]}
        src={GithubIcon}
        alt="Github logo"
      />
    </a>
  </div>
  <!-- Description -->
  <div class="font-regular text-md">
    {description}
  </div>
  <!-- Tags -->
  <div class="font-light text-md">
    <ul>
      {tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </div>
</div>

<style>
  img {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .product-shell {
    width: 100%;
    aspect-ratio: 1.488888888888889 / 1;
    height: min-content;
  }

  .product-shell .product-image {
    aspect-ratio: 1.488888888888889 / 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
  }
</style>
