---
import BaseLayout from "./BaseLayout.astro";

const { title, description, pageType, seoImage, pageURL, publishedTime, tags, author } = Astro.props;
---

<BaseLayout
  title={title}
  description={title}
  pageType={pageType}
  seoImage={seoImage}
  publishedTime={publishedTime}
  tags={tags}
  author={author}
>
  <div>
    <slot />
  </div>
</BaseLayout>
